@import "@fontsource-variable/inter";
@import "@fontsource-variable/jetbrains-mono";
@import "tailwindcss";

@theme static {
    /* BREAKPOINTS */
    --breakpoint-tablet-lg: 900px;

    /* INTER FONT */
    --text-size-desc: 0.875rem;
    --text-size-headline: 1.5rem;
    --text-size-heading: 3rem;

    /* JETBRAINS MONO */
    --text-mono-code: 0.8125rem;
    --text-mono-label: 0.75rem;

    /* CONSTANT VARIABLES */
    --color-primary: #0066ff;
    --color-icon-hover: #507aea;

    /* THEME VARIABLES */
    --color-bg: #faf8ff;
    --color-config-bg: #f2f3ff;
    --color-headline: #191b24;
    --color-desc: #44474e;
    --color-outline: #d1d5db;

    /* FONTS */
    --font-sans: "Inter Variable", sans-serif;
    --font-mono: "JetBrains Mono Variable", monospace;
}

.dark {
    --color-bg: #131313;
    --color-config-bg: #1c1b1b;
    --color-headline: #e5e2e1;
    --color-desc: #c2c6d8;
    --color-outline: #364153;
}
:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
label {
    cursor: pointer;
}
